spring:
  application:
    name: "configserver"
  profiles:
    active: git
  #    active: native
  cloud:
    config:
      server:
#        native:
#          search-locations: "file:///E://Harish//Learning//Microservices//Projects//HansBank//config"
#          search-locations: "classpath:/config"
        git:
          uri: "https://github.com/harish230698/hansBank-config"
          default-label: main
          timeout: 5
          clone-on-start: true
          force-pull: true

  rabbitmq:
    host: "localhost"
    port: 5672
    username: "guest"
    password: "guest"

management:
  endpoints:
    web:
      exposure:
        include: "*"

server:
  port: 8071
encrypt:
  key: "45D81EC1EF61DF9AD8D3E5BB397F9"